# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

.idea
.DS_Store
.scannerwork

# Vendors
vendor

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Test result report
report.json
